# Document root pour /expertise/
DirectoryIndex index.php

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /expertise/

    # Rediriger /index vers index.php
    RewriteRule ^index$ index.php [L]

    # Toutes les URLs sans extension -> fichier .php correspondant si il existe
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME}.php -f
    RewriteRule ^(.+)$ $1.php [L]
</IfModule>
